ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 99%;
}
li a{
    float: left;
    padding: 8px;
    color: #404040;
    font-size: 14px;
    text-decoration: none; 
}
li a:hover {
    text-decoration: underline;
}
header ul {
    top: 0;
}
footer ul {
    bottom: 0;
    background-color: #f2f2f2;
}
#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
#body > * {
    margin: 10px;
}
#logo {
    width: 280px;
}
#searchbar {
    width: 430px;
    border: 1.5px solid #dfe1e5;
    padding: 12px;
    border-radius: 25px;
    padding-left: 30px;
}
#searchbar:hover {
    box-shadow: 0 0 3px 1px #e7e7e7;
}
#buttons > * {
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 4px;
    background-color: #f4f4f4;
    color: #65696e;
    font-size: 14px;
}
#buttons > *:hover {
    color:black;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #e7e7e7;
}