html, body {
    margin:0;
    padding:0;
}
ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    line-height: 28px;
}
li a{
    float: left;
    padding: 10px;
    color: #5f6368;
    font-size: 14px;
    text-decoration: none; 
}
#signin {
    margin: 8px;
    padding: 0 12px;
    color: #fff;
    background-color: #4387fd;
    border: 1px solid #4285f4;
    border-radius: 2px;
    line-height: 28px;
    font-weight: bold;
}
#signin:hover {
    box-shadow: 0 1px #e7e7e7;
}
#apps {
    height: 28px;
    filter: invert(39%) sepia(7%) saturate(388%) hue-rotate(173deg) brightness(91%) contrast(83%);
}
#apps:hover {
    filter: none;
}
.two {
    float: right;
}
li a:hover {
    text-decoration: underline;
}
header ul {
    top: 0;
}
footer ul {
    bottom: 0;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
}
#body > * {
    margin: 25px;
}
#logo {
    width: 280px;
}
#searchbar-container {
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 20px;
    width: 560px;
    border: 1.5px solid #dfe1e5;
    padding: 12px;
    border-radius: 25px;
}
#searchbar {
    width: 80%;
    height: 20px;
    margin: 0;
    padding: 0 30px;
    border: none;
}
#searchbar:focus {
    outline: none;
}
#search-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 24px;
}
#mic-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 24px;

}
#searchbar-container:hover {
    box-shadow: 0 0 3px 1px #e7e7e7;
}
#buttons > * {
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 4px;
    background-color: #f4f4f4;
    color: #65696e;
    font-size: 14px;
}
#buttons > *:hover {
    color:black;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #e7e7e7;
}